# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Metro / RN
.metro-health-check*
*.log

# iOS / Android native builds
ios/build/
android/app/build/
android/build/

# CocoaPods
ios/Pods/
ios/Podfile.lock

# Xcode
ios/*.xcworkspace/xcuserdata/
ios/*.xcodeproj/xcuserdata/
ios/*.xcodeproj/project.xcworkspace/xcuserdata/
ios/DerivedData/
*.xcuserstate

# Android / Gradle
android/.gradle/
android/local.properties
*.keystore

# Env files
.env
.env.*
!.env.example

# OS
.DS_Store
